:root {
  font-size: 62.5%;
  --cor-padrao: #add8e6;
  --background-padrao: #f4f1f1;
  --margin-header: 5rem;
  --background-dark: #161515;
  --background-sec-dark: #292828;
}

.imgMain {
  margin-top: 22rem;
}

.check {
  display: flex;
  align-items: center;
}
.check input {
  margin-right: 1rem;
}

#msg {
  padding: 1rem;
  width: 59rem;
  height: 20rem;
  resize: none;
}
