.noticias{
    width: 100%;
    margin: auto;
    padding: 0%;
}


h1{
    text-align: center;
}
.formatar{
    height: 100%;
    width: 100%;
}

.cont{
    margin-top: 5rem;
    margin-bottom: 140px;
}

.container{
    width: 90%;
}