* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;
  --cor-padrao: #add8e6;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* header */
img {
  width: 4.4rem;
  height: 4.4rem;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 6.5rem;
  padding-block: 2.6rem;
  justify-content: space-between;
  background-color: var(--cor-padrao);
}

.input-group {
  width: 35%;
  height: 3rem;
}

.searchButton {
  width: 2rem;
  height: 2rem;
}

.darkMode img,
.lightMode img {
  width: 3rem;
  height: 3rem;
}

.logo img {
  width: 4rem;
  height: 4rem;
}

button {
  background: none;
  border: none;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
}
