* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --cor-padrao: #add8e6;
  --background-padrao: #f4f1f1;
  --margin-header: 5rem;
}

html {
  scroll-behavior: smooth;
  font-size: 1.6rem;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--background-padrao);
  font-size: 1.6rem;
  font-family: "Montserrat";
}

/* header */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 6.5rem;
  padding-block: 2.6rem;
  justify-content: space-between;
  background-color: var(--cor-padrao);
  width: 100%;
}

.input-group {
  width: 35%;
  height: 3rem;
}

.searchButton {
  width: 2rem;
  height: 2rem;
}

.logo img {
  width: 7rem;
  height: 7rem;
}

button {
  background: none;
  border: none;
}

/* switch */

.buttonD img,
.buttonL img {
  width: 4rem;
  height: 4rem;
}

.buttonL {
  visibility: hidden;
  opacity: 0;
}

body.darkMode .switch .buttonL {
  visibility: visible;
  opacity: 1;
}

body.darkMode .switch .buttonD {
  visibility: hidden;
  opacity: 0;
}

/* nav */

nav {
  margin-bottom: var(--margin-header);
}

/* main */
.cont {
  padding-inline: 10rem;
}

.aside {
  text-align: center;
}

.aside h3 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

/* suporte */

.suporte {
  bottom: 1rem;
  right: 4rem;
}

.suporte img {
  width: 4rem;
  height: 4rem;
}

/* footer */

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 6.5rem;
  padding-block: 2.6rem;
  justify-content: space-between;
  background-color: var(--cor-padrao);
  width: 100%;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
}

/*h1 {
  background-color:#add8e6;
  height: 50px
  
}*/