* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --cor-padrao: #add8e6;
  --background-padrao: #f4f1f1;
  --margin-header: 5rem;
  --background-dark: #161515;
  --background-sec-dark: #292828;
}

html {
  scroll-behavior: smooth;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: var(--background-dark);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: var(--background-dark);
  background-color: var(--background-padrao);
  font-size: 1.6rem;
  font-family: "Montserrat";
}

/* header */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 6.5rem;
  padding-block: 2.6rem;
  justify-content: space-between;
  background-color: var(--cor-padrao);
  width: 100%;
}

.input-group {
  width: 35%;
  height: 4rem;
  box-shadow: 2px 2px 4px var(--background-sec-dark);
}

.searchButton {
  border: none;
  background-color: var(--background-padrao);
  border-radius: 15%;
}

.searchButton img {
  width: 2rem;
  height: 2rem;
}

.logo img {
  width: 10rem;
  height: 10rem;
}

button {
  background: none;
  border: none;
}

/* switch */

.buttonD img,
.buttonL img {
  width: 4rem;
  height: 4rem;
}

.buttonL {
  visibility: hidden;
  opacity: 0;
}

body.darkMode .switch .buttonL {
  visibility: visible;
  opacity: 1;
}

body.darkMode .switch .buttonD {
  visibility: hidden;
  opacity: 0;
}

body.darkMode {
  background-color: var(--background-dark);
}

body.darkMode nav.navbar,
body.darkMode .dropdown-menu {
  background-color: var(--background-sec-dark);
}

body.darkMode nav.navbar #navbarNavDropdown ul li a.nav-link,
body.darkMode .dropdown-menu a.dropdown-item {
  color: white;
}

body.darkMode nav.navbar #navbarNavDropdown ul li a.nav-link:hover,
body.darkMode .dropdown-menu a.dropdown-item:hover {
  color: #0a0909;
}

/* nav */

nav {
  background-color: white;
  margin-bottom: var(--margin-header);
}

/* main */
.cont {
  padding-inline: 10rem;
}

.aside {
  text-align: center;
}

.aside h3 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

/* suporte */

.suporte {
  bottom: 1rem;
  right: 1rem;
}

.suporte img {
  width: 5rem;
  height: 5rem;
}

.suporte img:hover {
  opacity: 0.6;
}

/* footer */

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 6.5rem;
  padding-block: 2.6rem;
  justify-content: space-between;
  background-color: var(--cor-padrao);
  width: 100%;
}

footer p {
  font-size: 1.4rem;
}

/* carrossel */

.carousel-caption {
  background-color: var(--cor-padrao);
  color: var(--background-dark);
}

.carousel-indicators button.buttonCarousel {
  background-color: var(--background-dark);
}

body.darkMode .carousel-caption {
  background-color: var(--background-dark);
  color: var(--cor-padrao);
}

body.darkMode .carousel-indicators button.buttonCarousel {
  background-color: var(--cor-padrao);
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  margin: auto;
  background-color: white;
  padding: 3rem;
  box-shadow: 2px 2px 4px var(--background-dark);
}

body.darkMode form {
background-color: var(--background-sec-dark);
color: white;
}

body.darkMode h1 {
  color: var(--background-padrao);
}
